@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

ol, ul {
	list-style: none;
}

a, a:hover {
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

#header {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	background-color: #3f3f3f;
}

a, label {
	font-size: 15px;
	font-family: 'OpenSans-Light', sans-serif;
	color: #edecec;
}

.container {
	width: 900px;
	height: 60px;
	margin-left: 50px;
	margin-right: 50px;
}

.logo {
	float: left;
	line-height: 60px;
}

.logo img {
	vertical-align: middle;
}

.nav li {
	float: left;
	margin-top: 20px;
	margin-left: 30px;
}

.nav li:first-child {
	margin-left: 100px;
}

.nav li:last-child {
	margin-left: 40px;
}

.active-nav {
	border-bottom: 1px solid #00afce;
	padding-bottom: 5px;
}

input[type="radio"] {
	display: none;
}

.lang label {
	float: right;
	width: 26px;
	line-height: 26px;
	margin: 17px 0 17px 15px;
	text-align: center;
	cursor: pointer;
}

.activ-lang label {
	background-color: #00afce;
}
